.glass-module {
    background: rgba($base02, 0.4);
    color: $base07;
    padding: 20px;
    border-radius: 1.5rem;
}

.glass-module.radial-battery {
    .progress {
        transition-duration: 3s;

        .content {
            margin: 25px;
        }

        .icon {
            font-size: 18pt;
        }
    }
}
.glass-module.music-player {
    background: rgba($base0E, 0.4);
    .music-player-album-art-reactive .icon {
        font-size: 64pt;
        border-radius: 1.5rem;
        background: radial-gradient(at center, transparent, $base01);
    }

    .music-player-album-art {
        $album-art-size: 150px;

        border-radius: 1.5rem;
        background-size: cover;
        background-position: center;
        min-height: $album-art-size;
        min-width: $album-art-size;
    }

    .rating-bar {
        margin: 5px 0;
        transition-duration: 3s;
        trough {
            background: $base03;
            min-width: 5px;
            border-radius: 1rem;
            transition-duration: inherit;
            progress {
                background: linear-gradient(to top, $base08, $base04, $base0A);
                min-width: 5px;
                border-radius: 1rem;
                transition-duration: inherit;
            }
        }
    }

    .music-player-track-title {
        font-size: 20pt;
        font-weight: bold;
        text-shadow: 1 1 $base00;
    }

    .music-player-track-artist {
        font-size: 12pt;
        color: lighten($base0E, 20);
        opacity: 0.6;
        text-shadow: 1 1 $base00;
        padding-left: 20px;
    }

    .music-player-track-album {
        font-size: 14pt;
        color: $base05;
        opacity: 0.6;
        text-shadow: 1 1 $base00;
    }

    .music-player-controls button:hover {
        background: rgba($base03, 0.8);
        border-radius: 50%;
    }

    .music-player-progress-bar {
        margin: 0 15px;
        trough {
            background-color: $base03;
            border-radius: 1rem;
            min-height: 7px;
            min-width: 50px;
            highlight {
                background-color: $base07;
                border-radius: 1rem;
            }
        }
    }

    .music-player-controls button {
        min-width:  40px;
        min-height: 40px;
    }

    .music-player-controls .icon {
        font-size: 18pt;
    }

    .music-playback-track {
        color: $accent-color;
        text-shadow: 0px 0px 3px $accent-color;
    }

    .extra-buttons {
        margin-left: 15px;
    }
}

.app-ver {
    font-size: 16pt;
}

.quick-setting.quick-toggles {
    .quick-toggle {
        padding: 15px;

        .icon              { font-size: 22pt; }
        .label             { font-size: 10pt; }
        .submenu-indicator { font-size: 16px; }
    }

    .quick-toggle:hover     { background-color: rgba($base04, 0.4); }
    .quick-toggle.on        { background-color: rgba($accent-color, 0.8);
                              // TODO box-shadow: 0px 0px 7px 2px $accent-color;
                              color: $base02; }
    .quick-toggle.on:hover  { background-color: rgba($accent-color, 0.4); }
    .quick-toggle.switching { background-color: rgba($accent-color, 0.4); }


    .submenu {
        font-family: "Roboto";
        font-size: 14pt;

        .title    { font-size: 18pt;   }
        .info     { font-size: 11pt;   }
        .toggle   { margin: 20px 50px; }
        .controls { margin-top: 20px;  }

        .entry {
            background-color: lighter(rgba($accent-color, 0.1));
            padding: 7px 20px;
            border-radius: 1.5rem;

            .icon   { font-size: 16pt; min-width: 22pt; }
            .name   { font-size: 14pt; }
            .status { font-size: 12pt; color: lighter($base03); }
        }

        .entry.active {
            background-color: lighter($accent-color);
            color: $base02;
        }
    }
}

.content {
    .main {
        .status {
            image {
                padding: 0;
                margin: 0;
            }
        }
        .temp {
            font-size: 24pt;
            // font-weight: bold;
        }
        .lo-hi {
            font-size: 16pt;
        }
    }
    .comment {
        color: $base05;
    }
}
