* {
    foreground: #c3c6c8;
    background: #101d25;
    cursor: #c3c6c8;
    color0: #101d25;
    color1: #AC6D98;
    color2: #EC748A;
    color3: #DA77A4;
    color4: #5EA1A3;
    color5: #51BDA4;
    color6: #78B1DA;
    color7: #c3c6c8;
    color8: #5f6d74;
    color9: #AC6D98;
    color10: #EC748A;
    color11: #DA77A4;
    color12: #5EA1A3;
    color13: #51BDA4;
    color14: #78B1DA;
    color15: #c3c6c8;
}
