* {
    foreground: #c2c2c7;
    background: #0d0d1f;
    cursor: #c2c2c7;
    color0: #0d0d1f;
    color1: #674D5F;
    color2: #444A6A;
    color3: #A9686E;
    color4: #556D94;
    color5: #E77691;
    color6: #45ADD2;
    color7: #c2c2c7;
    color8: #5c5c71;
    color9: #674D5F;
    color10: #444A6A;
    color11: #A9686E;
    color12: #556D94;
    color13: #E77691;
    color14: #45ADD2;
    color15: #c2c2c7;
}
