@define-color foreground #c9c8c8;
@define-color background #282524;
@define-color cursor #c9c8c8;

@define-color color0 #282524;
@define-color color1 #6695A8;
@define-color color2 #15A3C5;
@define-color color3 #5EB2CB;
@define-color color4 #78C2D4;
@define-color color5 #9AA0A6;
@define-color color6 #BEB1B5;
@define-color color7 #c9c8c8;
@define-color color8 #7c6d66;
@define-color color9 #6695A8;
@define-color color10 #15A3C5;
@define-color color11 #5EB2CB;
@define-color color12 #78C2D4;
@define-color color13 #9AA0A6;
@define-color color14 #BEB1B5;
@define-color color15 #c9c8c8;
