@define-color foreground #c7c2c6;
@define-color background #210e1c;
@define-color cursor #c7c2c6;

@define-color color0 #210e1c;
@define-color color1 #B29258;
@define-color color2 #4C748C;
@define-color color3 #A07789;
@define-color color4 #53AFBB;
@define-color color5 #67A1AD;
@define-color color6 #9EB2B6;
@define-color color7 #c7c2c6;
@define-color color8 #725d6d;
@define-color color9 #B29258;
@define-color color10 #4C748C;
@define-color color11 #A07789;
@define-color color12 #53AFBB;
@define-color color13 #67A1AD;
@define-color color14 #9EB2B6;
@define-color color15 #c7c2c6;
