@define-color foreground #c6c2c2;
@define-color background #1e0c0e;
@define-color cursor #c6c2c2;

@define-color color0 #1e0c0e;
@define-color color1 #53447B;
@define-color color2 #9A2F31;
@define-color color3 #94344F;
@define-color color4 #5B3E86;
@define-color color5 #4F5A9B;
@define-color color6 #925AD4;
@define-color color7 #c6c2c2;
@define-color color8 #705c5e;
@define-color color9 #53447B;
@define-color color10 #9A2F31;
@define-color color11 #94344F;
@define-color color12 #5B3E86;
@define-color color13 #4F5A9B;
@define-color color14 #925AD4;
@define-color color15 #c6c2c2;
