@define-color foreground #c2c3c5;
@define-color background #0b121a;
@define-color cursor #c2c3c5;

@define-color color0 #0b121a;
@define-color color1 #27445D;
@define-color color2 #2C4C70;
@define-color color3 #465E6D;
@define-color color4 #386487;
@define-color color5 #47688A;
@define-color color6 #4C6E8F;
@define-color color7 #c2c3c5;
@define-color color8 #5a626f;
@define-color color9 #27445D;
@define-color color10 #2C4C70;
@define-color color11 #465E6D;
@define-color color12 #386487;
@define-color color13 #47688A;
@define-color color14 #4C6E8F;
@define-color color15 #c2c3c5;
