@define-color foreground #c4c6ca;
@define-color background #141b2e;
@define-color cursor #c4c6ca;

@define-color color0 #141b2e;
@define-color color1 #47475E;
@define-color color2 #9A3737;
@define-color color3 #AD433D;
@define-color color4 #E14F34;
@define-color color5 #F96F34;
@define-color color6 #EA6745;
@define-color color7 #c4c6ca;
@define-color color8 #636879;
@define-color color9 #47475E;
@define-color color10 #9A3737;
@define-color color11 #AD433D;
@define-color color12 #E14F34;
@define-color color13 #F96F34;
@define-color color14 #EA6745;
@define-color color15 #c4c6ca;
