@define-color foreground #c2c2c6;
@define-color background #0c0c1b;
@define-color cursor #c2c2c6;

@define-color color0 #0c0c1b;
@define-color color1 #749794;
@define-color color2 #97A69C;
@define-color color3 #D2B499;
@define-color color4 #E6C6A1;
@define-color color5 #F5D8B2;
@define-color color6 #FAE3BD;
@define-color color7 #c2c2c6;
@define-color color8 #5b5b6f;
@define-color color9 #749794;
@define-color color10 #97A69C;
@define-color color11 #D2B499;
@define-color color12 #E6C6A1;
@define-color color13 #F5D8B2;
@define-color color14 #FAE3BD;
@define-color color15 #c2c2c6;
