@define-color foreground #c3c2c7;
@define-color background #120e20;
@define-color cursor #c3c2c7;

@define-color color0 #120e20;
@define-color color1 #583264;
@define-color color2 #674C68;
@define-color color3 #A05965;
@define-color color4 #ED9A6A;
@define-color color5 #6F5789;
@define-color color6 #946C8B;
@define-color color7 #c3c2c7;
@define-color color8 #615d72;
@define-color color9 #583264;
@define-color color10 #674C68;
@define-color color11 #A05965;
@define-color color12 #ED9A6A;
@define-color color13 #6F5789;
@define-color color14 #946C8B;
@define-color color15 #c3c2c7;
