@define-color foreground #c3c1c5;
@define-color background #0f0a19;
@define-color cursor #c3c1c5;

@define-color color0 #0f0a19;
@define-color color1 #533148;
@define-color color2 #6E4A64;
@define-color color3 #8E443B;
@define-color color4 #A05C59;
@define-color color5 #C87854;
@define-color color6 #EE9C39;
@define-color color7 #c3c1c5;
@define-color color8 #61596e;
@define-color color9 #533148;
@define-color color10 #6E4A64;
@define-color color11 #8E443B;
@define-color color12 #A05C59;
@define-color color13 #C87854;
@define-color color14 #EE9C39;
@define-color color15 #c3c1c5;
