@import "colors.css";

@define-color background-color @color9;
* {
  font-family: "FiraCode Nerd Font";
  font-weight: bold;
  min-height: 0;
  font-size: 15px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  border-radius: 20px;
}



window#waybar,
window#waybar.empty,
window#waybar.empty #window {
  background-color: @background-color;
  border: 10px;
}

tooltip {
  color: @border;
  background: @background-color;
}

tooltip label {
  color: @border;
}
/*-----module groups----*/
.modules-right,
.modules-center,
.modules-left {
  background-color: @background-color;
  color: @texts;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.modules-right,
.modules-left {
  border: 1px solid @border;
}
/*-----modules indv----*/
#taskbar button,
#workspaces button {
  color: @texts;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 0px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
#taskbar button:hover,
#workspaces button:hover {
  color: @border;
  border-radius: 0px;
  padding-left: 2px;
  padding-right: 2px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button.active,
#workspaces button.active {
  color: @texts;
  padding-left: 0px;
  padding-right: 0px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.urgent {
  color: @critical-red;
  border-radius: 10px;
}

#workspaces button.persistent {
  border-radius: 10px;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-browser,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-dot_update,
#custom-file_manager,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-playerctl,
#custom-power_vertical,
#custom-power,
#custom-quit,
#custom-reboot,
#custom-settings,
#custom-spotify,
#custom-tty,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 6px;
  padding-left: 6px;
}
/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
  color: #39ff14;
}

#pulseaudio.muted {
  color: @critical-red;
}
#temperature.critical {
  color: @critical-red;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  color: @critical-red;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-width: 80px;
  min-height: 5px;
  border-radius: 5px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  min-height: 10px;
  border-radius: 5px;
}
