* {
    foreground: #c3c5c6;
    background: #12181d;
    cursor: #c3c5c6;
    color0: #12181d;
    color1: #8F8974;
    color2: #7C8382;
    color3: #90938E;
    color4: #A4A49B;
    color5: #B4B0A7;
    color6: #C4BCB0;
    color7: #c3c5c6;
    color8: #5d6772;
    color9: #8F8974;
    color10: #7C8382;
    color11: #90938E;
    color12: #A4A49B;
    color13: #B4B0A7;
    color14: #C4BCB0;
    color15: #c3c5c6;
}
