* {
    foreground: #c3c2c6;
    background: #100c1d;
    cursor: #c3c2c6;
    color0: #100c1d;
    color1: #4F4276;
    color2: #C54854;
    color3: #423E85;
    color4: #3A4489;
    color5: #4C4A90;
    color6: #6755A0;
    color7: #c3c2c6;
    color8: #5f5c70;
    color9: #4F4276;
    color10: #C54854;
    color11: #423E85;
    color12: #3A4489;
    color13: #4C4A90;
    color14: #6755A0;
    color15: #c3c2c6;
}
