* {
    foreground: #c2c3c6;
    background: #0c121e;
    cursor: #c2c3c6;
    color0: #0c121e;
    color1: #A04959;
    color2: #EC5D68;
    color3: #E49C6F;
    color4: #4A738B;
    color5: #CB6D8C;
    color6: #5A9BAF;
    color7: #c2c3c6;
    color8: #5c6170;
    color9: #A04959;
    color10: #EC5D68;
    color11: #E49C6F;
    color12: #4A738B;
    color13: #CB6D8C;
    color14: #5A9BAF;
    color15: #c2c3c6;
}
