* {
    background: #1d181c;
    foreground: #c6c5c6;
    cursor: #c6c5c6;
    color0: #1d181c;
    color1: #c72f31;
    color2: #7d5256;
    color3: #8f7064;
    color4: #b29882;
    color5: #cbb89b;
    color6: #faf0c6;
    color7: #c6c5c6;
    color8: #555154;
    color9: #7d5256;
    color10: #8f7064;
    color11: #b29882;
    color12: #cbb89b;
    color13: #faf0c6;
    color14: #4e2243;
    color15: #c6c5c6;
}
