* {
    background: #161617;
    foreground: #c4c4c5;
    cursor: #c4c4c5;
    color0: #161617;
    color1: #455059;
    color2: #747f82;
    color3: #a4ada7;
    color4: #d3d6c8;
    color5: #0f141b;
    color6: #455059;
    color7: #c4c4c5;
    color8: #505051;
    color9: #d3d6c8;
    color10: #0f141b;
    color11: #455059;
    color12: #747f82;
    color13: #a4ada7;
    color14: #d3d6c8;
    color15: #c4c4c5;
}
