* {
    foreground: #c4c6ca;
    background: #141b2e;
    cursor: #c4c6ca;
    color0: #141b2e;
    color1: #47475E;
    color2: #9A3737;
    color3: #AD433D;
    color4: #E14F34;
    color5: #F96F34;
    color6: #EA6745;
    color7: #c4c6ca;
    color8: #636879;
    color9: #47475E;
    color10: #9A3737;
    color11: #AD433D;
    color12: #E14F34;
    color13: #F96F34;
    color14: #EA6745;
    color15: #c4c6ca;
}
