@define-color foreground #c2c5c6;
@define-color background #0c181d;
@define-color cursor #c2c5c6;

@define-color color0 #0c181d;
@define-color color1 #273D41;
@define-color color2 #344A4D;
@define-color color3 #44595A;
@define-color color4 #4D5F5E;
@define-color color5 #546867;
@define-color color6 #637875;
@define-color color7 #c2c5c6;
@define-color color8 #5c6970;
@define-color color9 #273D41;
@define-color color10 #344A4D;
@define-color color11 #44595A;
@define-color color12 #4D5F5E;
@define-color color13 #546867;
@define-color color14 #637875;
@define-color color15 #c2c5c6;
