@define-color background #171718;
@define-color foreground #c5c5c5;
@define-color cursor #c5c5c5;
@define-color color0 #171718;
@define-color color1 #394568;
@define-color color2 #673b4a;
@define-color color3 #4b6091;
@define-color color4 #894c61;
@define-color color5 #736291;
@define-color color6 #6682c4;
@define-color color7 #c5c5c5;
@define-color color8 #515151;
@define-color color9 #394568;
@define-color color10 #673b4a;
@define-color color11 #4b6091;
@define-color color12 #894c61;
@define-color color13 #736291;
@define-color color14 #6682c4;
@define-color color15 #c5c5c5;
