@define-color foreground #c1c1c5;
@define-color background #0a0a17;
@define-color cursor #c1c1c5;

@define-color color0 #0a0a17;
@define-color color1 #5E3846;
@define-color color2 #334755;
@define-color color3 #2C5165;
@define-color color4 #575B69;
@define-color color5 #9C222A;
@define-color color6 #CA484B;
@define-color color7 #c1c1c5;
@define-color color8 #59596d;
@define-color color9 #5E3846;
@define-color color10 #334755;
@define-color color11 #2C5165;
@define-color color12 #575B69;
@define-color color13 #9C222A;
@define-color color14 #CA484B;
@define-color color15 #c1c1c5;
