@define-color foreground #c0c0c2;
@define-color background #04040b;
@define-color cursor #c0c0c2;

@define-color color0 #04040b;
@define-color color1 #97444B;
@define-color color2 #186593;
@define-color color3 #537390;
@define-color color4 #2C8DAA;
@define-color color5 #5D95AA;
@define-color color6 #4DAFD2;
@define-color color7 #c0c0c2;
@define-color color8 #545466;
@define-color color9 #97444B;
@define-color color10 #186593;
@define-color color11 #537390;
@define-color color12 #2C8DAA;
@define-color color13 #5D95AA;
@define-color color14 #4DAFD2;
@define-color color15 #c0c0c2;
