@define-color foreground #c4c6cc;
@define-color background #161e33;
@define-color cursor #c4c6cc;

@define-color color0 #161e33;
@define-color color1 #9F5B6E;
@define-color color2 #CC7574;
@define-color color3 #E38C7A;
@define-color color4 #146B8B;
@define-color color5 #55718B;
@define-color color6 #9C7587;
@define-color color7 #c4c6cc;
@define-color color8 #656b7b;
@define-color color9 #9F5B6E;
@define-color color10 #CC7574;
@define-color color11 #E38C7A;
@define-color color12 #146B8B;
@define-color color13 #55718B;
@define-color color14 #9C7587;
@define-color color15 #c4c6cc;
