@define-color foreground #c2c4c6;
@define-color background #0b151b;
@define-color cursor #c2c4c6;

@define-color color0 #0b151b;
@define-color color1 #1F3D42;
@define-color color2 #2B4B4F;
@define-color color3 #26585D;
@define-color color4 #576058;
@define-color color5 #926B46;
@define-color color6 #B39468;
@define-color color7 #c2c4c6;
@define-color color8 #5a676f;
@define-color color9 #1F3D42;
@define-color color10 #2B4B4F;
@define-color color11 #26585D;
@define-color color12 #576058;
@define-color color13 #926B46;
@define-color color14 #B39468;
@define-color color15 #c2c4c6;
