@import "colors1.css";

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 0;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: @color2;
	border-style: solid;
	border-width: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: @color8;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/archboom/dotfiles/.config/wlogout/pics/lock.png"), url("/home/archboom/dotfiles/.config/wlogout/pics/lock.png"));
}

#logout {
    background-image: image(url("/home/archboom/dotfiles/.config/wlogout/pics/logout.png"), url("/home/archboom/dotfiles/.config/wlogout/pics/logout.png"));
}

#suspend {
    background-image: image(url("/home/archboom/dotfiles/.config/wlogout/pics/shutdown.png"), url("/home/archboom/dotfiles/.config/wlogout/pics/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/archboom/dotfiles/.config/wlogout/pics/hibernate.png"), url("/home/archboom/dotfiles/.config/wlogout/pics/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/archboom/dotfiles/.config/wlogout/pics/shutdown.png"), url("/home/archboom/dotfiles/.config/wlogout/pics/shutdown.png"));
}

#Windows10 {
    background-image: image(url("/home/archboom/dotfiles/.config/wlogout/pics/windows10.png"), url("/home/archboom/dotfiles/.config/wlogout/pics/windows10.png"));
}
