* {
    foreground: #c3c3c7;
    background: #0f1222;
    cursor: #c3c3c7;
    color0: #0f1222;
    color1: #5C7BB9;
    color2: #A46C99;
    color3: #D9769B;
    color4: #EB7797;
    color5: #CF7AA9;
    color6: #A77DC2;
    color7: #c3c3c7;
    color8: #5e6073;
    color9: #5C7BB9;
    color10: #A46C99;
    color11: #D9769B;
    color12: #EB7797;
    color13: #CF7AA9;
    color14: #A77DC2;
    color15: #c3c3c7;
}
