* {
    foreground: #c2c2c5;
    background: #0b0d19;
    cursor: #c2c2c5;
    color0: #0b0d19;
    color1: #582B5A;
    color2: #A63969;
    color3: #484399;
    color4: #5E56A2;
    color5: #B85BAB;
    color6: #6C8EC2;
    color7: #c2c2c5;
    color8: #5a5c6e;
    color9: #582B5A;
    color10: #A63969;
    color11: #484399;
    color12: #5E56A2;
    color13: #B85BAB;
    color14: #6C8EC2;
    color15: #c2c2c5;
}
