[Desktop Entry]
Name=Uxplay Toggle
Exec=/home/nixboom/dotfiles/nixos/modules/hosts/users/nixboom/home/scripts/uxplay-toggle.sh
Terminal=false
Type=Application
Icon=terminal
Categories=Utility;

