[Desktop Entry]
Name=Bloons TD Battles
Comment=Play this game on Steam
Exec=steam steam://rungameid/444640
Icon=steam_icon_444640
Terminal=false
Type=Application
Categories=Game;
