[Desktop Entry]
Name=FrostRunner
Comment=Play this game on Steam
Exec=steam steam://rungameid/934840
Icon=steam_icon_934840
Terminal=false
Type=Application
Categories=Game;
