[Desktop Entry]
Name=GOALS Beta
Comment=Play this game on Steam
Exec=steam steam://rungameid/2841640
Icon=steam_icon_2841640
Terminal=false
Type=Application
Categories=Game;
