[Desktop Entry]
Name=Backup System
Exec=kitty /home/archboom/dotfiles/scripts/backup_sys.sh
Icon=preferences-desktop-wallpaper
Terminal=true
Type=Application
Categories=Utility;

