[Desktop Entry]
Name=Unturned
Comment=Play this game on Steam
Exec=steam steam://rungameid/304930
Icon=steam_icon_304930
Terminal=false
Type=Application
Categories=Game;
