[Desktop Entry]
Name=Uxplay Toggle
Exec=/home/nixboom/dotfiles/nixos/scripts/rofi_dmen/uxplay-toggle
Terminal=false
Type=Application
Icon=terminal
Categories=Utility;

